<!-- BEGIN FOOTER COMPONENT -->
<footer class="kilimanjaro_area">
        <!-- Top Footer Area Start -->
        <div class="foo_top_header_one section_padding_100_70">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="kilimanjaro_part">
                            <h5>Sobre nosotros</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="kilimanjaro_part m-top-15">
                            <h5>Redes Sociales</h5>
                            <ul class="kilimanjaro_social_links">
                                <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                                <li><a href="#"><i class="fab fa-pinterest"></i> Pinterest</a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i> YouTube</a></li>
                                <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="kilimanjaro_part">
                            <h5>Tags Relacionados</h5>
                            <ul class=" kilimanjaro_widget">
                                <li><a href="#">tag</a></li>
                                <li><a href="#">tag</a></li>
                                <li><a href="#">tag</a></li>
                                <li><a href="#">tag</a></li>
                                <li><a href="#">tag</a></li>
                                <li><a href="#">tag</a></li>
                                <li><a href="#">tag</a></li>
                                <li><a href="#">tag</a></li>
                            </ul>
                        </div>

                        <div class="kilimanjaro_part m-top-15">
                            <h5>Important Links</h5>
                            <ul class="kilimanjaro_links">
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Términos y condiciones</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Licencia</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Ayuda y soporte</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Formación</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Política de privacidad</a></li>
                                <li><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Comunidad y foros</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 col-lg-4">
                        <div class="kilimanjaro_part">
                            <h5>Contacto</h5>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Tfno:</h5>
                                <p>+255 789 54 50 40<br>+2255 766 90 94 00
                                </p>
                            </div>
                            <div class="kilimanjaro_single_contact_info">
                                <h5>Correo:</h5>
                                <p>alu01010143266 <br> -  <br> -</p>
                            </div>
                        </div>
                        <div class="kilimanjaro_part">
                            <h5>Últimos trabajos</h5>
                            <div class="kilimanjaro_works">
                                <a class="kilimanjaro_works_img" href="img/gallery/1.jpg"><img src="img/gallery/1.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/4.jpg"><img src="img/gallery/4.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/5.jpg"><img src="img/gallery/5.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/7.jpg"><img src="img/gallery/7.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/10.jpg"><img src="img/gallery/10.jpg" alt=""></a>
                                <a class="kilimanjaro_works_img" href="img/gallery/11.jpg"><img src="img/gallery/11.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom Area Start -->
        <div class=" kilimanjaro_bottom_header_one section_padding_50 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>© All Rights Reserved by <a href="#">Webublogoverflow.blogspot<i class="fa fa-love"></i></a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
<!-- END FOOTER COMPONENT -->
