<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky text-center">
        <br>
        <a href="/dashboard?word" value="apuntes" >
          <div class="bg  light-green lighten-1 bg-primary w-45 p-4 m-1 text-center" style="display: inline-block;">
              <svg-icon src="assets/svg/document.svg" [svgStyle]="{ 'width.px':25, 'height.px':25 }"></svg-icon>
          </div>
        </a>

      <a href="/dashboard?word" value="examenes" >
        <div class="bg orange lighten-2 bg-primary w-45 p-4 m-1 text-center" style="display: inline-block;">
            <svg-icon src="assets/svg/examen.svg" [svgStyle]="{ 'width.px':25, 'height.px':25 }"></svg-icon>
        </div>
      </a>

      <a href="/dashboard?word" value="informes" >
        <div class="bg red red lighten-1 bg-primary w-45 p-4 m-1 text-center" style="display: inline-block;">
            <svg-icon src="assets/svg/file.svg" [svgStyle]="{ 'width.px':25, 'height.px':25 }"></svg-icon>
        </div>
      </a>

    <a href="/dashboard?word" value="ejercicios" >
      <div class="bg blue lighten-1 bg-primary w-45 p-4 m-1 text-center" style="display: inline-block;">
          <svg-icon src="assets/svg/write.svg" [svgStyle]="{ 'width.px':25, 'height.px':25 }"></svg-icon>
      </div>
    </a>

    <a href="/dashboard?word" value="prácticas" >
      <div class="bg teal lighten-2 bg-primary w-45 p-4 m-1 text-center" style="display: inline-block">
          <svg-icon src="assets/svg/practice.svg" [svgStyle]="{ 'width.px':25, 'height.px':25 }"></svg-icon>
      </div>
    </a>

  <a href="/dashboard?word" value="tutoriales" >
    <div class="bg deep-purple lighten-1 bg-primary w-45 p-4 m-1 text-center" style="display: inline-block;">
        <svg-icon src="assets/svg/e-learning.svg" [svgStyle]="{ 'width.px':25, 'height.px':25 }"></svg-icon>
    </div>
  </a>

      </div>
    </nav>


    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <ng-flash-message></ng-flash-message>
      <br><h1>Tablón</h1>
      <div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center bg-primary">

        <!-- BEGIN SEARCHER -->
        <form class="mx-2 my-auto d-inline w-100 my-2 my-lg-0">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar...">
               <span class="input-group-append">
                 <button class="btn btn-secondary my-0 px-4 p-2" type="submit">Buscar</button>
               </span>
          </div>
          <span class="btn badge badge-pill badge-dark m-1 px-3 float-left" style="padding: 5px 10px; text-transform: capitalize">
            <i class="fas fa-filter"></i> Filtrar
          </span>
        </form>
        <!-- END SEARCHER -->

      </div>

      <app-contentlist></app-contentlist>

      <!-- BEGIN CONTENIDOS RELEVANTES -->
      <div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center bg-light">
        <h2>Contenidos relevantes</h2>
        <br>
        
         <!-- BEGIN VOLCADO TABLA -->
        <div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center bg-light">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" colspan="3">Lista de Apuntes</th>
            </tr>
            <tr>
              <th scope="col">Título</th>
              <th scope="col">Asignatura</th>
              <th scope="col">Autor</th>
            </tr>
          </thead>
          <tbody *ngFor='let apt of apuntesList'>
            <tr>
              <td>{{ apt.titulo }}</td>
              <td>{{ apt.asignatura }}</td>
              <td>{{ apt.autor }}</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-secondary my-0 px-4 p-2" type="submit">Insertar</button>
      </div>
        <!-- END VOLCADO TABLA -->
        
        <div class="container">
           <!-- Volcado de contenidos relevantes
          --ITEM 1--
          <div class="row">
            <div class="offset-md-1 col-md-6" style="margin-right: -30px">
              <div class="card text-white bg-dark overflow-auto" style="height: 250px;">
                <div class="card-header">Título del contenido <span class="badge badge-light"><small>3 days ago</small></span></div>
                <div class="card-body text-justify">
                  <h3 class="card-title">Título documento</h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card" style="border: 1px solid rgb(210, 210, 210); height: 250px;
              background-image: url('/assets/img/content-example/1.jpg');
              background-size: cover;
              background-position: center">
              </div>
            </div>
          </div>
           --END ITEM 1--
          <br>
          --ITEM 2--
          <div class="row">
            <div class="offset-md-1 col-md-6" style="margin-right: -30px">
              <div class="card text-white bg-dark overflow-auto" style="height: 250px;">
                <div class="card-header">Título del contenido <span class="badge badge-light"><small>3 days ago</small></span></div>
                <div class="card-body text-justify">
                  <h3 class="card-title">Título documento</h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  <br><br>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                </div>
              </div>
            </div>
            <div class="col-12 col-md-4">
              <div class="card" style="border: 1px solid rgb(210, 210, 210); height: 250px;
              background-image: url('/assets/img/content-example/2.jpg');
              background-size: cover;
              background-position: center">
              </div>
            </div>
          </div>
          --END ITEM 2--
          end volcado de contenido -->
        </div>
        <!-- END CONTENIDOS RELEVANTES -->

      </div>

    </main>
  </div>
</div>
<app-footer></app-footer>
