<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="navbar-nav mt-auto">

          <li class="nav-item">
            <a class="nav-link" href="/dashboard?word">
              <svg-icon src="assets/svg/busqueda.svg" [svgStyle]="{ 'width.px':15 }"></svg-icon>
              Buscar
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <svg-icon src="assets/svg/content.svg" [svgStyle]="{ 'width.px':15 }"></svg-icon>
              Contenido
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <br>
              <br>
            </a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center bg-light">

        <form class="mx-2 my-auto d-inline w-100 my-2 my-lg-0">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
               <span class="input-group-append">
                 <button class="btn btn-primary my-0 px-4 p-2" type="submit">Search</button>
               </span>
          </div>
          <span class="badge badge-pill badge-dark m-1 px-3 float-sm-left" style="padding: 5px 10px">
            <i class="fas fa-filter"></i> Filtrar
          </span>
        </form>
      </div>







    </main>

  </div>
</div>
