/* You can add global styles to this file, and also import other style files */
body
{
  background: #f7f7f7;
}

.card, .navbar, .pagination .page-item.active .page-link
{
  box-shadow:
  0 0px 0px 0 rgba(0,0,0,.16),
  0 0px 0px 0 rgba(0,0,0,.12)!important;
}

.btn-primary {
    color: #fff;
    background-color: #1a1a1a!important;
    border-color: #1a1a1a;
}

.btn-primary:hover {
    background-color: #000!important;
    color: #fff;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #000000!important;
}

.btn,
.badge
{
  box-shadow: none!important;
}

.btn-secondary {
    background-color: #4f525f!important;
    color: #fff;
}

.btn-secondary:hover {
    background-color: #e0e0e0!important;
    color: #4f525f;
}

.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-color: #fff!important;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  transition: 1s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d1d1d;

}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2.5px solid #1d1d1d;
  background: #fff;
  border-radius: 120px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #565656;
  border: 2px solid #1d1d1d;
  transition: 1s;
  border-radius: 10px;
}

/* validaciones */
input.ng-invalid.ng-touched
{
  padding-right: calc(1.5em + 1.5rem);
  background-image: url("/assets/svg/cancelar.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.375rem);
  background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
  border-color: #d9534f;
  box-shadow: 0 0 0 0.2rem rgba(217,83,79,0.25);
}

input.ng-invalid.ng-touched:focus {
    border-color: #d9534f;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(217,83,79,0.25);
    box-shadow: 0 0 0 0.2rem rgba(217,83,79,0.25);
}

input.ng-valid.ng-touched:focus:focus {
    border-color: #4BBF73;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(75,191,115,0.25);
    box-shadow: 0 0 0 0.2rem rgba(75,191,115,0.25);
}

input.ng-valid.ng-touched {
  border-color: #4BBF73;
padding-right: calc(1.5em + 1.5rem);
background-image: url("/assets/svg/comprobado.svg");
background-repeat: no-repeat;
background-position: center right calc(0.375em + 0.375rem);
background-size: calc(0.75em + 0.75rem) calc(0.75em + 0.75rem);
}

/* ALERTS */

.alert a.close:hover {
    color: inherit!important;
}

.alert a.close {
    color: inherit!important;
}

.alert {
  border-radius: 2px!important;
  padding: 15px!important;
}
