<div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center bg-light">
  <h2>Búsqueda</h2>
  <br>

<!-- BEGIN CONTENIDOS SEGÚN BÚSQUEDA -->
<div class="container">

  <!-- ITEM 1 -->
  <div class="row">
    <div class="offset-md-1 col-md-6" style="margin-right: -30px">
      <div class="card text-white bg-dark overflow-auto" style="height: 250px;">
        <div class="card-header">Título del contenido <span class="badge badge-light"><small>3 days ago</small></span></div>
        <div class="card-body text-justify">
          <h3 class="card-title">Título documento</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="border: 1px solid rgb(210, 210, 210); height: 250px;
      background-image: url('/assets/img/content-example/1.jpg');
      background-size: cover;
      background-position: center">
      </div>
    </div>
  </div>
  <!-- END ITEM 1 -->
  <br>
  <!-- ITEM 2 -->
  <div class="row">
    <div class="offset-md-1 col-md-6" style="margin-right: -30px">
      <div class="card text-white bg-dark overflow-auto" style="height: 250px;">
        <div class="card-header">Título del contenido <span class="badge badge-light"><small>3 days ago</small></span></div>
        <div class="card-body text-justify">
          <h3 class="card-title">Título documento</h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          <br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card" style="border: 1px solid rgb(210, 210, 210); height: 250px;
      background-image: url('/assets/img/content-example/2.jpg');
      background-size: cover;
      background-position: center">
      </div>
    </div>
  </div>
  <!-- END ITEM 2 -->

</div>
<br>
<div class="container">
  <div class="row text-center">
    <div>
      <ul class="pagination">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="dashboard?p=1">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="dashboard?p=2">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="dashboard?p=3">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="dashboard?p=4">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="dashboard?p=5">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="dashboard?p=6">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- END CONTENIDOS SEGÚN BúSQUEDA -->
</div>
