<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-7 p-lg-5 mx-auto my-8">
    <div class="form-group">
      <h2>Registro</h2>
    </div>
    <div class="dropdown-divider"></div>
    <flash-messages></flash-messages>
    <form class="px-4 py-3" (submit)="onRegisterSubmit()">
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Nombre</label>
            <input type="name" class="form-control" [(ngModel)]="name" name="name" placeholder="John Doe">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Usuario</label>
            <input type="username" class="form-control" [(ngModel)]="username" name="username" placeholder="John12345">
          </div>
        </div>
      </div>


      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="email@example.com">
      </div>
      <div class="form-group">
        <label>Contraseña</label>
        <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label>Universidad</label>
        <input type="universidad" class="form-control" [(ngModel)]="universidad" name="universidad" placeholder="Nombre completo de tu Universidad">
      </div>
      <button type="submit" class="btn btn-primary" value="Submit">Registrarme</button>
    </form>
  </div>
</div>
