<br>
<div class="row custom-row-search">
  <div class="offset-3 col-6">
    <!-- Search form -->
    <form class="form-inline">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
        aria-label="Search">
    </form>
    <div class="row" style="padding-top: 5px">
      <div class="col-5"><div class="btn-filter">
        <i class="fas fa-filter"></i> Filter</div>
        <!-- FUNCIONALIDAD DE TAGS FILTROS -->
      </div>
      <div class="col-6 col-helper"><i class="far fa-question-circle help-button"></i></div>
    </div>
  </div>
</div>
<br>

<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="col-md-12 p-lg-5 mx-auto my-6">
    <h2 class="display-4 font-weight-normal">Categorías</h2>
    <div class="fluid-container">
      <div class="row">
        <div class="col-12">
          <div class="categoria-card">
            <div class="envolvent-card img-gradient"><img class="img-responsive" src="assets/img/p-examples/1.jpg"></div>
            <p>Categoría 1</p>
          </div>
          <div class="categoria-card">
            <div class="envolvent-card img-gradient"><img class="img-responsive" src="assets/img/p-examples/2.jpg"></div>
            <p>Categoría 2</p>
          </div>
          <div class="categoria-card">
            <div class="envolvent-card img-gradient"><img class="img-responsive" src="assets/img/p-examples/3.jpg"></div>
            <p>Categoría 3</p>
          </div>
          <div class="categoria-card">
            <div class="envolvent-card img-gradient"><img class="img-responsive" src="assets/img/p-examples/4.jpg"></div>
            <p>Categoría 4</p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="fluid-container">
      <div class="row">
        <div class="offset-1 col-10">


          <div class="contenido-card">
            <div class="row">
              <div class="col-7">
                <div class="content-info">
                  <h4>Contenido</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                </div>
              <div class="col-5 cover-image-content" style="background-image: url('/assets/img/content-example/1.jpg'); background-size: cover; background-position: center">
              </div>
            </div>
          </div>

          <div class="contenido-card">
            <div class="row">
              <div class="col-7">
                <div class="content-info">
                  <h4>Contenido</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
                </div>
              <div class="col-5 cover-image-content" style="background-image: url('/assets/img/content-example/2.jpg'); background-size: cover; background-position: center">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- OLD
    <h1 class="display-4 font-weight-normal">Authorization web application</h1>
    <p class="lead font-weight-normal">Template in MEAN (MongoDb, Express, Angular and Node) for a login web app using validations, services, angular libraries and much more.</p>
    <div>
      <a class="btn btn-outline-secondary buttonsMargins" [routerLink]="['/login']">Login</a>
      <a class="btn btn-outline-secondary buttonsMargins" [routerLink]="['/register']">Register</a>
    </div>
    -->




  </div>
</div>
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
  <div class="row">
    <div class="col-md-4">
      <h3>First column</h3>
      <p>Hey there we are making a try</p>
    </div>
    <div class="col-md-4">
      <h3>Second column</h3>
      <p>Hey there we are making a try</p>
    </div>
    <div class="col-md-4">
      <h3>Third column</h3>
      <p>Hey there we are making a try</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
