.navbar {
  background: #3e4460!important;
}

.navbar-brand
{
  color: #919aa1!important;
  cursor: default;
}

.navbar a {
  color: #ffffffc4!important;
  transition: ease-in-out 0.2s;
}

.navbar a:hover {
  color: #919aa1;
  transition: ease-in-out 0.2s;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active
{
  color: #919aa1!important;
}

.navbar-light .navbar-toggler {
  color: rgba(243, 243, 243, 0.3)!important;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 5px 6px;
}
