<div class="container">
  <div class="row">
    <div class="col-10 pt-3 pb-0">
      <h1>Información del contenido</h1>
    </div>
  </div>
</div>

<div class="jumbotron pb-0 pt-2" >
    <div
    class="card imagecard"
    style="border: 1px solid rgb(210, 210, 210); height: 250px;
      background-image: url('/assets/img/content-example/1.jpg');
      background-size: cover;
      background-position: center"
    >
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-6 pt-2 py-3">
          <!-- This is the overlay blurr card info -->
            <div class="card border-secondary mb-3" style="max-width: 30rem;">
          <div class="card-header">
            <div class="fav-nd-share float-right">
              <i class="fab fa-gratipay fa-lg"></i>
              <i class="fas fa-share-alt fa-lg"></i>
            </div>

          </div>
          <div class="card-body" style="max-height: 10rem; overflow-y: scroll">
            <h4 class="card-title">Título contenido</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <!-- Aquí acaba la tarjea de info -->

        </div>
        <div class="col-6 align-bottom h-100">
            <!-- This is the icon of the author -->
            <img class="float-right img-responsive rounded-circle"
            style="border: 7px solid #ffffff3b; height: 100px; width: 100px; margin: 10px"
            src="assets/img/profile/default_profile_200.png" alt="Card image">

        </div>
      </div>
    </div>
  </div>
</div>

<!-- BEGIN PESTAÑAS -->
  <div class="position-relative overflow-hidden p-3 p-md-3 m-md-5 my-md-0 text-center bg-light">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#info">Información</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#multimed">Multimedia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#valorates">Valoraciones</a>
      </li>
    </ul>
    <div id="myTabContent" class="tab-content">
      <div class="tab-pane fade active show " id="info">
        <br>
        <h2>Información</h2>
        <p class="text-justify">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </div>
      <div class="tab-pane fade" id="multimed">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
      </div>
      <div class="tab-pane fade" id="valorates">
        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
      </div>
    </div>
  </div>
<!-- END PESTAÑAS -->

<br>
<app-footer></app-footer>
